<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Formulario de Creación/Edición de Usuario</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/crudUsuario.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-gray-900 text-gray-200">
<div class="container mt-5">
    <h2 th:text="${usuario == null ? 'Creación de Usuario' : 'Edición de Usuario'}" class="text-4xl text-teal-400"></h2>
    <form id="signupForm" th:action="${accion}" method="post" class="bg-gray-800 p-4 rounded-lg shadow-lg" enctype="multipart/form-data">
        <div class="form-group">
            <label for="username" class="text-gray-300">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese el username"
                   th:value="${usuario != null ? usuario.username : ''}" required>
        </div>

        <div class="form-group">
            <label for="nombre" class="text-gray-300">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre"
                   th:value="${usuario != null ? usuario.getNombre() : ''}" required>
        </div>

        <div class="form-group">
            <label for="password" class="text-gray-300">Contraseña</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese la contraseña"
                       th:value="${usuario != null ? usuario.getPassword() : ''}" required>
                <div class="input-group-append">
                    <button id="togglePassword" class="btn btn-outline-secondary" type="button">
                        <span class="fa fa-eye-slash icon"></span>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="text-gray-300">Roles</label>
            <select name="role" class="form-control mb-2" required>
                <option value="Usuario" th:selected="${usuario != null and usuario.tieneRol('ROLE_USUARIO')}">Usuario</option>
                <option value="Autor" th:selected="${usuario != null and usuario.tieneRol('ROLE_AUTOR')}">Autor</option>
            </select>
        </div>

        <label for="profilePhoto" class="form-label">Foto de Perfil:</label>
        <input type="file" name="profilePhoto" accept="image/*" class="form-control mb-2" id="profilePhoto" onchange="previewImage(event)"/>

        <img id="preview"
             th:if="${usuario != null and usuario.profilePhoto != null}"
             th:src="'data:image/png;base64,' + ${usuario.profilePhoto}"
             alt="Vista previa"
             class="img-thumbnail mb-2"
             style="max-width: 150px; display: block;"/>


        <button type="submit" class="w-full p-2 bg-teal-500 text-white rounded hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-400">
            Guardar
        </button>
    </form>

    <div class="mt-4">
        <a th:href="@{/crud-usuario}" class="text-teal-300">← Volver al listado de usuarios</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        var passwordInput = document.getElementById('password');
        var icon = this.querySelector('.icon');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        }
    });

    function previewImage(event) {
        const preview = document.getElementById("preview");
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function() {
                preview.src = reader.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
            preview.style.display = "none";
        }
    }

    document.getElementById('signupForm').addEventListener('submit', async function(event) {

        const formData = new FormData(event.target);
        const response = await fetch(event.target.action, {
            method: "POST",
            body: formData
        });


        document.getElementById('nombre').value = '';
        document.getElementById('username').value = '';
        document.getElementById('password').value = '';
        document.getElementById('profilePhoto').value = '';
        document.getElementById("preview").style.display = "none";

        if (response.ok) {
            const dialog = document.getElementById('successDialog');
            dialog.showModal();
            setTimeout(() => {
                window.location.href = "/crud-usuario"; // Redirigir después de 2 segundos
            }, 2000);
        }
    });
</script>
</body>
</html>
